
@model PagedList.IPagedList<Home_Shoppe.Models.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Category Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdCategory }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdCategory }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCategory })
            </td>
        </tr>
    }

</table>
<div class="content-pagenation">
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>
